body {
	color: #2d3c49;
}
hr {
	color: #2d3c49;
	background-color: #2d3c49;
	height: 3px;
}

h2 {
	color: #7d97ad;
}
h3 {
	margin-top: 10px;
}
a, a:visited {
	color: #2d3c49;
}

ul.no-format {
	margin: 0, 0 1em, 0;
	padding: 0;
	list-style-type: none;
}

.no-gutters {
	margin-right: 0;
 	margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}